@media (max-width: 768px) {
    .hide{
	    transform: translateY(-100%); /* 上に消えるようにする */
    }
    #scrollArea{
        transition: .5s; /* スクロール時に一瞬で消えると物足りないので.hideの処理を0.5秒で行う */
        z-index: 100; /* 前面に表示されるようにする */
    }
}