
// SPナビゲーション

.dropdown-btn {
    position: relative;
    margin: 0;
}

.dropdown-works {
    position: absolute;
    top: 45rem;
    left: 0;
    display: none;
    z-index: 100;
    width: 100%;
    padding: 2rem;
    text-align: left;
    background-color: $light-gray;
    box-sizing: border-box;
}

.dropdown-title-box {
    margin: 0;
    display: flex;
    vertical-align: baseline;
}

.dropdown-works-title {
    vertical-align: baseline;
}

.dropdown-works-subtitle {
    vertical-align: baseline;
}