//
//samplecafe
//

.nav-underline {
    &.samplecafe {
        top: -2.8rem;
        left: -7.5rem;
        width: 9rem;
        height: 9rem;
        background: $avo-outer;
    }
}

//websitesite link
.site-link {
    &.samplecafe {
        background: $avo-outer;
    }
}

.border {
    &.samplecafe {
        border: 1px solid $egg;
    }
}

//background
.background-img {
    &.samplecafe {
        z-index: 0;
        background-image: url('../images/samplecafe-background.jpg');
        @media (max-width: 768px) {
            background-image: url('../images/samplecafe-background_sp.jpg');
        }
    }
}

//slide
.slide {
    //sp-img
    &.slide1 {
        background: $tomato;
        color: $salmon;
        padding: 3rem;
        box-sizing: border-box;
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //image1
    &.slide2 {
        width: 100%;
        min-height: 60rem;
        background-image: url('../images/samplecafe-slide2.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 1200px) {
            min-height: 40rem;
        }
        @media (max-width: 768px) {
            min-height: 22.5rem;
        }
    }
    //background
    &.slide3 {
        background: $salmon-lines;
        color: $skin-gray;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //image2
    &.slide4 {
        width: 100%;
        min-height: 60rem;
        background-image: url('../images/samplecafe-slide4.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 1200px) {
            min-height: 40rem;
        }
        @media (max-width: 768px) {
            min-height: 22.5rem;
        }
    }
    //objectives
    &.slide5 {
        background: $avo-outer;
        color: $egg;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //concept
    &.slide7 {
        background: $salmon;
        color: #E38E63;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //color
    &.slide9 {
        background: $egg;
        color: $skin-gray;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //color2
    &.slide10 {
        background: $egg;
        color: $skin-gray;
        padding: 3rem 5rem 6rem;
        box-sizing: border-box;
        justify-content: unset;
        align-items: flex-start;
        @media (max-width: 1200px) {
            padding: 3rem 3.5rem 5rem;
        }
        @media (max-width: 768px) {
            padding: 1.5rem 2rem 2rem;
        }
    }
    //fonts
    &.slide11 {
        background: $skin-gray;
        color: $salmon-lines;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //font2
    &.slide12 {
        background: $skin-gray;
        color: $tomato;
        padding: 0 5rem 6rem;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 1200px) {
            padding: 0 3.5rem 5rem;
        }
        @media (max-width: 768px) {
            padding: 0 2rem 2rem;
        }
    }
}

//slide1-title
.slide1_title {
    font-size: 12rem;
    font-family: 'parkside', cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-top: 8rem;
    line-height: 15rem;
    @media (max-width: 1200px) {
        font-size: 9rem;
        margin-top: 5rem;
        line-height: 1.1;
    }
    @media (max-width: 768px) {
        font-size: 4.6rem;
        margin-top: 3rem;
    }
}

.slide1_subtitle {
    font-size: 4rem;
    font-family: 'yrsa', serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 13rem;
    @media (max-width: 1200px) {
        font-size: 3rem;
        margin-bottom: 8rem;
    }
    @media (max-width: 768px) {
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }
}

//slide3-background
.caption-title {
    &.background {
        color: $egg;
    }
    &.objectives {
        color: $salmon;
    }
    &.concept {
        color: $avo-outer;
    }
    &.colors {
        color: $tomato;
    }
    &.fonts {
        color: $egg;
    }
}

//slide10 color2
.icons-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

//icon tomato
.icon {
    position: relative;
    height: 25rem;
    font-size: 25rem;
    box-sizing: border-box;
    margin: 0;
    line-height: 1;
    @media (max-width: 1200px) {
        font-size: 20rem;
        height: 22rem;
    }
    @media (max-width: 768px) {
        font-size: 11rem;
        height: 15rem;
    }
    &.tomato {
        width: 60%;
        padding-left: 22rem;
        @media (max-width: 1200px) {
            padding-left: 12rem;
        }
        @media (max-width: 768px) {
            padding-left: 7rem;
        }
    }
    &.avocado {
        width: 40%;
        font-size: 35rem;
        padding-top: 2rem;
        padding-left: 7rem;
        @media (max-width: 1200px) {
            font-size: 30rem;
            padding-left: 2rem;
        }
        @media (max-width: 768px) {
            font-size: 16rem;
            padding-top: 8rem;
            padding-left: 0;
        }
    }
    &.salmon {
        width: 40%;
        font-size: 29rem;
        @media (max-width: 1200px) {
            font-size: 22rem;
        }
        @media (max-width: 768px) {
            width: 45%;
            font-size: 12rem;
        }
    }
    &.egg {
        width: 60%;
        font-size: 35rem;
        padding-top: 8rem;
        padding-left: 7rem;
        @media (max-width: 1200px) {
            font-size: 30rem;
            padding-top: 7rem;
            padding-left: 5rem;
        }
        @media (max-width: 768px) {
            width: 55%;
            font-size: 16rem;
            padding-top: 10rem;
            padding-left: 0;
        }
    }
}

// colour-codes
.colour-codes {
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.15;
    @media (max-width: 1200px) {
        top: 30%;
        left: 15%;
        font-size: 1.8rem;
    }
    @media (max-width: 768px) {
        top: 20%;
        left: 6%;
        font-size: 1.4rem;
    }
    &.avo {
        top: 50%;
        left: 15%;
        @media (max-width: 1200px) {
            left: 0;
            top: 50%;
        }
        @media (max-width: 768px) {
            left: -4rem;
            top: 80%;
        }
    }
    &.salmon {
        left: 0;
    }
    &.egg {
        top: 50%;
        left: 15%;
        @media (max-width: 1200px) {
            top: 65%;
            left: 24%;
        }
        @media (max-width: 768px) {
            top: 90%;
            left: 0;
        }
    }
}

// colour-chart
.base-colour {
    background: $egg-white;
    width: 50%;
    height: 100%;
}

.accent-colour {
    background: $salmon-lines;
    width: 2%;
    height: 100%;
    &.accent2 {
        background: $salmon;
        width: 3%;
    }
    &.accent3 {
        background: $avo;
        width: 5%;
    }
    &.accent4 {
        background: $skin-gray;
        width: 5%;
    }
}

.sub-colour {
    background: $tomato;
    width: 14%;
    height: 100%;
    &.sub2 {
        background: $egg;
        width: 14%;
    }
    &.sub3 {
        background: $avo-outer;
        width: 12%;
    }
}

.chart2list-box1 {
    width: 60%;
    height: 9rem;
    background: $egg;
    border-radius: 1.5rem;
    border: 1px solid $skin-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @media (max-width: 1200px) {
        height: 6.5rem;
    }
    @media (max-width: 768px) {
        width: 60%;
        height: 6.2rem;
        border-radius: 1.2rem;
    }
    &.salmon-pink {
        background: $salmon;
    }
    &.skin-gray {
        background: $skin-gray;
    }
    &.avo-green {
        background: $avo;
    }
    &.egg-white {
        background: $egg-white;
    }
    &.salmon-lines {
        background: $salmon-lines;
    }
    &.tomato-red {
        background: $tomato;
    }
    &.avo-outer {
        background: $avo-outer;
    }
}

.colour-code_white {
    color: $egg;
}

//font2
//section1
.font2-section {
    position: relative;
    width: 100%;
    margin: 0 0 8rem;
    font-weight: 400;
    @media (max-width: 1200px) {
        margin: 0 0 6rem;
    }
    @media (max-width: 768px) {
        margin: 0 0 4rem;
    }
    &.no2 {
        color: $egg;
        font-size: 2.4rem;
        margin: 0;
        @media (max-width: 1200px) {
            font-size: 2rem;
        }
        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

.font-parkside {
    font-size: 16.1rem;
    font-family: 'parkside', cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: $salmon-lines;
    margin: 0;
    @media (max-width: 1200px) {
        font-size: 12rem;
    }
    @media (max-width: 768px) {
        font-size: 6rem;
    }
}

.font-yrsa {
    position: absolute;
    top: 10rem;
    right: 18rem;
    font-family: 'yrsa', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12.5rem;
    margin: 0;
    @media (max-width: 1200px) {
        top: 8rem;
        right: 12rem;
        font-size: 9rem;
    }
    @media (max-width: 768px) {
        top: 4.1rem;
        right: 6rem;
        font-size: 4.5rem;
    }
}

//section2,3
.font2-section-heading {
    margin: 0;
    &.yrsa {
        margin: 3rem 0 1rem;
        @media (max-width: 768px) {
            margin: 1rem 0 1rem;
        }
    }
}

.parkside-container {
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 4rem;
    &.h3 {
        position: relative;
        align-items: flex-end;
    }
    @media (max-width: 768px) {
        margin: 0 0 2rem;
    }
}

//h1
.h1-samplecafe {
    font-size: 7.6rem;
    margin: 0;
    padding-left: 2rem;
    box-sizing: border-box;
    font-family: 'parkside', cursive;
    font-weight: 400;
    font-style: normal;
    color: $salmon-lines;
    @media (max-width: 1200px) {
        padding-left: 1rem;
    }
    @media (max-width: 768px) {
        font-size: 4rem;
    }
}

//h3
.h3-heading {
    font-family: 'parkside', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6.5rem;
    color: $salmon-lines;
    transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    margin: 0 0 3rem;
    @media (max-width: 768px) {
        font-size: 3.4rem;
        margin: 0 0 2.5rem;
    }
    &.no2 {
        position: absolute;
        bottom: 2rem;
        left: 27rem;
        @media (max-width: 1200px) {
            left: 21rem;
            font-size: 5rem;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &.no3 {
        position: absolute;
        bottom: 1rem;
        left: 42rem;
        @media (max-width: 1200px) {
            left: 32rem;
            font-size: 5rem;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &.no4 {
        position: absolute;
        bottom: 2rem;
        left: 54rem;
        @media (max-width: 1200px) {
            left: 41rem;
            font-size: 5rem;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.icon45 {
    position: absolute;
    top: 3rem;
    left: 10rem;
    font-size: 7rem;
    @media (max-width: 768px) {
        top: 0;
        left: 7rem;
        font-size: 5rem;
    }
}

.abc {
    color: $tomato;
    font-family: 'yrsa', serif;
    font-size: 4.2rem;
    letter-spacing: 0.2em;
    line-height: 1.2;
    margin: 0;
    &.capital {
        text-transform: uppercase;
    }
    @media (max-width: 1200px) {
        font-size: 2.95rem;
    }
    @media (max-width: 768px) {
        font-size: 1.8rem;
        letter-spacing: 0.045em;
        line-height: 1.2;
    }
}
