//
//samplecafe
//

.nav-underline {
    &.sample {
        top: -2.8rem;
        left: -7.5rem;
        width: 9rem;
        height: 9rem;
        background: #40CCB2;
    }
}

//websitesite link
.site-link {
    &.sample {
        background: #40CCB2;
    }
}

//background
.background-img {
    &.sample {
        z-index: 0;
        background-image: url(../images/sample-background.png);
        background-attachment: fixed;
        //background: linear-gradient(-45deg, rgba(16, 120, 118, .8), rgba(50, 115, 199, .8), rgba(55, 5, 98, .9)),
            //url(../images/sample-background.png);
        @media (max-width: 768px) {
            background-image: url('../images/sample-background_sp.jpg');
        }
    }
}

//slide
.slide_scroll-area{
    &.sample-scrollarea {
        //background: linear-gradient(138deg, rgba(16, 120, 118, .8), rgba(50, 115, 199, .8), rgba(55, 5, 98, .9));
        background: linear-gradient(136deg, rgba(177, 45, 217, .9), rgba(72, 19, 118, .9), rgba(60, 9, 111, .9), rgba(20, 81, 160, .9), rgba(7, 108, 116, .9));
        background-size: 600% 600%;
        background-attachment: fixed;
        -webkit-animation: gradient 70s ease infinite;
        -moz-animation: gradient 70s ease infinite;
        animation: gradient 70s ease infinite;
    }
    @-webkit-keyframes gradient {
        0%{background-position:13% 0%}
        50%{background-position:88% 100%}
        100%{background-position:13% 0%}
    }
    @-moz-keyframes gradient {
        0%{background-position:13% 0%}
        50%{background-position:88% 100%}
        100%{background-position:13% 0%}
    }
    @keyframes gradient {
        0%{background-position:13% 0%}
        50%{background-position:88% 100%}
        100%{background-position:13% 0%}
    }
}

.slide {
    //title_slide
    &.sample-slide1 {
        justify-content: center;
        align-items: flex-start;
        background: $dark-navy;
        color: $sample-white;
        padding: 23rem 0 25rem 5rem;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 15.5rem 0 17rem 5rem;
        }
        @media (max-width: 768px) {
            padding: 8rem 0 8.5rem 2rem;
        }
    }
    //slide2-image1
    &.sample-slide2 {
        width: 100%;
        min-height: 60rem;
        background-image: url('../images/sample-slide2.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 1200px) {
            min-height: 40rem;
        }
        @media (max-width: 768px) {
            min-height: 22.5rem;
        }
    }
    //slide3, background,objectives,design process,color,font
    &.sample-slide-concepts {
        background: $dark-navy;
        color: $sample-light-gray;
        padding: 3rem 5rem 3.5rem 0;
        box-sizing: border-box;
        @media (max-width: 1200px) {
            padding: 2rem 3.5rem 2.5rem 1rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
    //slide4_image2
    &.sample-slide4 {
        width: 100%;
        min-height: 60rem;
        background-image: url('../images/sample-slide4.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: 1200px) {
            min-height: 40rem;
        }
        @media (max-width: 768px) {
            min-height: 22.5rem;
        }
    }
    //slide6_image3,4
    &.sample-slide6 {
        background: $light-gray;
        width: 100%;
        padding: 5rem;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;
        @media (max-width: 768px) {
            padding: 2rem 0;
        }
    }
    //color2
    &.sample-slide10 {
        position: relative;
        background: $light-gray;
        color: $sample-darkgray;
        padding: 5rem 5rem 6rem;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 1200px) {
            padding: 5rem 3.5rem 5rem;
        }
        @media (max-width: 768px) {
            padding: 1.5rem 2rem 2rem;
        }
    }
    //font2
    &.sample-slide12 {
        background: $dark-navy;
        color: $sample-light-gray;
        padding: 5rem 5rem 6rem;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 1200px) {
            padding: 5rem 3.5rem 5rem;
        }
        @media (max-width: 768px) {
            padding: 2rem;
        }
    }
}

//slide1-title
.sample_slide1-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.sample-logo {
    img {
        position: unset;
        width: 5.5rem;
        height: auto;
        @media (max-width: 1200px) {
            width: 3.8rem;
        }
        @media (max-width: 768px) {
            width: 2.2rem;
        }
    }
}

.sample_slide1-title {
    font-size: 6.8rem;
    font-family: 'hero-new', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
    padding-left: 2rem;
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 0.03em;
    @media (max-width: 1200px) {
        font-size: 5.1rem;
    }
    @media (max-width: 768px) {
        padding-left: 1rem;
        font-size: 3rem;
    }
}

.sample_slide1-subtitle {
    color: $blue-waltz;
    font-size: 2.7rem;
    font-family: 'arboria',sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    @media (max-width: 1200px) {
        font-size: 2.1rem;
    }
    @media (max-width: 768px) {
        font-size: 1.3rem;
    }
}

//concept_caption
.caption-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        display: block;
    }
}

.caption-title {
    &.sample-concepts-title {
        color: $blue-waltz;
    }
}

//slide6_img
.sample-slide6-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 3rem;
    box-sizing: border-box;
    @media (max-width: 768px) {
        padding: 0 2rem;
    }
}
.sample-slide6-text {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
    @media (max-width: 768px) {
        font-size: 1.4rem;
    }
}

.sample-before-after {
    width: 100%;
}

//slide10 color2
//text
.sample-colour2-slide-text {
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.6;
    @media (max-width: 1200px) {
        font-size: 1.8rem;
    }
    @media (max-width: 768px) {
        display: none;
    }
    &.sp {
        @media (max-width: 768px) {
            display: block;
            font-size: 1.4rem;
        }
        font-size: 1.4rem;
        @media (min-width: 769px) {
            display: none;
        }
    }
}

//gradient
.gradient-chart-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.gradient-background-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sample-white;
    width: 38rem;
    height: 9rem;
    border-radius: 9rem;
    margin-bottom: 2rem;
    &.gradient1 {
        background: linear-gradient(90deg, #8A2DD9,  #3273C7,  #107876);
    }
    &.gradient2 {
        background: linear-gradient(90deg, #107876, #107876, #257388);
    }
    &.gradient3 {
        background: linear-gradient(90deg, #11152C, #18406F, #257388);
        margin: 0;
    }
    @media (max-width: 1200px) {
        width: 27rem;
        height: 7rem;
        font-size: 1.6rem;
    }
    @media (max-width: 768px) {
        width: 15.5rem;
        height: 4.5rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}

//icon
.sample-webicon {
    position: absolute;
    top: 4rem;
    right: -5rem;
    @media (max-width: 1200px) {
        top: 4.5rem;
        right: -7rem;
    }
    @media (max-width: 768px) {
        top: 2rem;
        right: -12rem;
    }
}

// colour-chart
.colour-chart {
    &.sample-chart {
        margin-top: 15rem;
        @media (max-width: 1200px) {
            margin-top: 12rem;
        }
        @media (max-width: 768px) {
            margin-top: 7rem;
        }
    }
}

.base-colour {
    &.sample-base {
        background: $dark-navy;
        width: 52%;
        height: 100%;
    }
}

.accent-colour {
    &.sample-accent1 {
        background: $sample-white;
        width: 2%;
        height: 100%;
    }
    &.sample-accent2 {
        background: $sample-light-gray;
        width: 2%;
    }
    &.sample-accent3 {
        background: $sample-darkgray;
        width: 2%;
    }
    &.sample-accent4 {
        background: $electoric;
        width: 3%;
    }
    &.sample-accent5 {
        background: $aquamarine;
        width: 5%;
    }
    &.sample-accent6 {
        background: $blue-waltz;
        width: 2%;
    }
}

.sub-colour {
    &.sample-sub1 {
        background: $dark-ocean;
        width: 10%;
        height: 100%;
    }
    &.sample-sub2 {
        background: $mallard;
        width: 10%;
    }
    &.sample-sub3 {
        background: $light-navy;
        width: 12%;
    }
}

.colour-chart1-text {
    &.sample-list {
        font-size: 2rem;
        @media (max-width: 1200px) {
            font-size: 1.8rem;
        }
        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    }
}

.colour-chart1-text-base {
    &.sample {
        width: 52%;
    }
}

.colour-chart1-text-accent {
    &.sample {
        width: 48%;
    }
}

.colour-chart2-container {
    &.sample {
        font-size: 2rem;
        @media (max-width: 1200px) {
            font-size: 1.5rem;
        }
    }
}

.sample-chart2list-box1 {
    width: 60%;
    height: 9rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    color: $sample-white;
    p {
        font-size: 1.8rem;
    }
    @media (max-width: 1200px) {
        height: 6.5rem;
        p {
            font-size: 1.6rem;
        }
    }
    @media (max-width: 768px) {
        width: 60%;
        height: 6.2rem;
        border-radius: 1.2rem;
        p {
            font-size: 1.4rem;
        }
    }
    &.sample-colourcode1 {
        background: $dark-navy;
    }
    &.sample-colourcode2 {
        background: $light-navy;
    }
    &.sample-colourcode3 {
        background: $dark-ocean;
    }
    &.sample-colourcode4 {
        background: $mallard;
    }
    &.sample-colourcode5 {
        background: $sample-white;
        color: $sample-darkgray;
        font-weight: 500;
    }
    &.sample-colourcode6 {
        background: $sample-light-gray;
        color: $sample-darkgray;
        font-weight: 500;
    }
    &.sample-colourcode7 {
        background: $sample-darkgray;
    }
    &.sample-colourcode8 {
        background: $blue-waltz;
        color: $sample-darkgray;
        font-weight: 500;
    }
    &.sample-colourcode9 {
        background: $aquamarine;
        color: $sample-darkgray;
        font-weight: 500;
    }
    &.sample-colourcode10 {
        background: $electoric;
    }
}

//font2
//font-heading
.font-futura {
    position: absolute;
    top: 35rem;
    left: -1.3rem;
    width: 100%;
    font-size: 18.2rem;
    font-family: 'futura-pt', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    color: $light-navy;
    //border-bottom: 1px solid $electoric;
    line-height: 0.7;
    @media (max-width: 1200px) {
        top: 27rem;
        left: -0.7rem;
        font-size: 10.9rem;
    }
    @media (max-width: 768px) {
        top: 14.7rem;
        left: -0.4rem;
        font-size: 6rem;
        line-height: 0.65;
    }
}

.font-arboria {
    position: absolute;
    top: 40rem;
    right: -1rem;
    font-family: 'arboria', sans-serif;
    color: $light-navy;
    font-weight: 500;
    font-style: normal;
    font-size: 15.5rem;
    margin: 0;
    @media (max-width: 1200px) {
        top: 30rem;
        right: -0.55rem;
        font-size: 9.5rem;
    }
    @media (max-width: 768px) {
        top: 16.5rem;
        right: -0.25rem;
        font-size: 5rem;
    }
}

//section1
.font2-section {
    &.sample {
        color: $blue-waltz;
        font-size: 2.4rem;
        margin: 0 0 35rem;
        &:last-child {
            margin: 0;
        }
        @media (max-width: 1200px) {
            font-size: 2rem;
            margin: 0 0 25rem;
        }
        @media (max-width: 768px) {
            font-size: 1.5rem;
            margin: 0 0 13.5rem;
        }
    }
}

.futura-container {
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

//text
.h1-text {
    padding-top: 1rem;
    @media (max-width: 768px) {
        margin: 0;   
        font-size: 1.4rem;  
    }
}

.h1-sample {
    font-size: 8.6rem;
    line-height: 1.2;
    margin: 0;
    padding-left: 2rem;
    box-sizing: border-box;
    font-family: 'futura-pt', sans-serif;
    font-weight: 700;
    font-style: normal;
    background: -webkit-linear-gradient(-45deg, #5815D8, #3273C7, #35BA95, #35BA95);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    @media (max-width: 1200px) {
        font-size: 6rem;
        padding-left: 1rem;
    }
    @media (max-width: 768px) {
        font-size: 3.3rem;
    }
}

//section2
.font2-section-sampleheading {
    margin: 0;
    @media (max-width: 768px) {
        margin-bottom: 0.3rem;
    }
    &.arboria {
        margin-bottom: 1rem;
        @media (max-width: 768px) {
            margin-bottom: 0.3rem;
        }
    }
}

.sample-abc {
    color: $sample-light-gray;
    font-family: 'arboria', serif;
    font-size: 3.9rem;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin: 0;
    &.capital {
        text-transform: uppercase;
    }
    @media (max-width: 1200px) {
        font-size: 2.5rem;
    }
    @media (max-width: 768px) {
        font-size: 1.4rem;
        letter-spacing: 0.09em;
        line-height: 1.45;
    }
}

