//background
.background-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

//header
.header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.header-title {
  &.sub {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
}

.name {
  &.sub {
    color: white;
    @media (max-width: 1200px) {
      font-size: 2.4rem;
    }
  }
}

.fixed-footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  color: $white;
  @media (max-width: 768px) {
    padding: 7rem 2rem 2rem 2rem;
  }
}

.sub-nav {
  position: relative;
  bottom: 1rem;
  left: 0;
  a {
    color: $white;
    font-size: 1.8rem;
    border-bottom: none;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}

//site link
.site-link {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 9rem;
    height: 9rem;
  }
}

.border {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  @media (max-width: 768px) {
    width: 8rem;
    height: 8rem;
  }
}

.visit {
  color: $white;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

//slide
.slide_scroll-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15rem 14% 0;
  box-sizing: border-box;
  overflow: hidden;
  @media (max-width: 1200px) {
    padding: 15rem 20% 0;
  }
  @media (max-width: 768px) {
    padding: 15rem 25% 0;
  }
  @media (max-width: 500px) {
    padding: 26rem 3rem 0;
  }
  //bigger screen
  @media (min-width: 1500px) {
    padding: 15rem 23% 0;
  }
}

.slide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: $white;
  border-radius: 5rem;
  margin-bottom: 10rem;
  overflow: hidden;
  animation-duration: 3s;
  @media (max-width: 1200px) {
    border-radius: 3.5rem;
  }
  @media (max-width: 768px) {
    border-radius: 2rem;
    margin-bottom: 4rem;
  }
  //credit
  &.slide13 {
    position: relative;
    height: 100%;
    background: $white;
    color: $skin-gray;
    padding: 3rem 5rem 4rem;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 5rem 5rem 0 0;
    flex-direction: row;
    align-items: flex-start;
    @media (max-width: 1200px) {
      height: 100%;
      padding: 2.5rem 3.5rem;
    }
    @media (max-width: 768px) {
      padding: 1.2rem 2rem 2rem;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 2rem 2rem 0 0;
      height: 100%;
    }
  }
}

//cpncept-caption
.caption-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    display: block;
  }
}

.caption-title {
  transform: rotate(-90deg);
  margin: 0;
  width: 17%;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  @media (max-width: 768px) {
    transform: none;
    width: 100%;
    display: block;
    padding-left: 0;
  }
}

.caption-text-area {
  width: 83%;
  @media (max-width: 1200px) {
    width: 83%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.caption {
  font-size: 2rem;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  @media (max-width: 1200px) {
    font-size: 1.8rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.4;
    &:first-child {
      margin-top: 1rem;
    }
  }
}

//colour chart
.colour-chart {
  width: 100%;
  margin-top: 23rem;
  @media (max-width: 1200px) {
    margin-top: 20rem;
  }
  @media (max-width: 768px) {
    margin-top: 15rem;
  }
}

.colour-chart1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  @media (max-width: 1200px) {
    width: 88%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.colour-chart1-colours {
  width: 100%;
  height: 16rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 1200px) {
    height: 13rem;
  }
  @media (max-width: 768px) {
    height: 10rem;
  }
}

.colour-chart1-text {
  position: relative;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  @media (max-width: 1200px) {
    font-size: 1.7rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.colour-chart1-text-base {
  width: 47%;
}

.colour-chart1-text-accent {
  width: 53%;
}

.colour-chart1-text-sub {
  position: absolute;
  top: 0;
  right: 0;
}

.colour-chart2-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 500;
  font-size: 2.1rem;
  margin-top: 3rem;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  @media (max-width: 768px) {
    margin-top: 1.5rem;
  }
}

.colour-chart2_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc((100% - 6rem) / 4);
  margin-top: 2.4rem;
  margin-right: 2rem;
  box-sizing: border-box;
  @media (min-width: 1201px) {
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  @media (max-width: 1200px) {
    width: calc((100% - 4rem) / 3);
    margin-top: 2rem;
    margin-right: 1.5rem;
    @media (min-width: 769px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 768px) {
    margin-top: 1.5rem;
    width: calc((100% - 2rem) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.colour-name {
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.6;
  @media (max-width: 1200px) {
    font-size: 1.7rem;
  }
  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.chart2list-box2 {
  width: 40%;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  box-sizing: border-box;
  li {
    line-height: 1.3;
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }
}

//slide13 credit
.slide13-container {
  width: 50%;
  height: 100%;
  p {
    margin: 0;
    font-weight: 400;
  }
  @media (max-width: 1200px) {
    width: 55%;
    padding-bottom: 2.5rem;
  }
  @media (max-width: 768px) {
    width: 100%;
    display: block;
    padding-bottom: 0;
  }
}

.slide13-title {
  span {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.3;
    @media (max-width: 1200px) {
      font-size: 3.6rem;
    }
    @media (max-width: 768px) {
      font-size: 2.3rem;
      line-height: 1.5;
    }
  }
  width: 100%;
  font-size: 2rem;
  @media (max-width: 1200px) {
    font-size: 1.85rem;
  }
  @media (max-width: 768px) {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

.slide13-copyright {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  font-size: 1.5rem;
  font-family: "quicksand", sans-serif;
  @media (max-width: 1200px) {
    bottom: 3rem;
    left: 3rem;
  }
  @media (max-width: 768px) {
    position: unset;
    font-size: 1.19rem;
    padding-top: 2rem;
  }
}

//container2
.slide13-container2 {
  width: 50%;
  background: $light-gray;
  margin: 2rem 0 0;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    margin: 0;
    padding: 0 0 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    box-sizing: border-box;
    &:last-child {
      padding: 0 0 1rem;
    }
    span {
      margin-right: 1rem;
      font-weight: 500;
    }
  }
  @media (max-width: 1200px) {
    width: 45%;
    margin-top: 1.5rem;
    padding: 1.5rem;
    p {
      margin: 0;
      padding: 0 0 1.5rem;
      font-size: 1.8rem;
      box-sizing: border-box;
      &:last-child {
        padding: 0 0 0.5rem;
      }
      span {
        margin-right: 0.5rem;
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    p {
      margin: 0 0 0.5rem;
      font-size: 1.4rem;
      box-sizing: border-box;
      &:last-child {
        margin: 0 0 0.2rem;
      }
      span {
        margin-right: 0.2rem;
      }
    }
  }
}
